
.profile-pic {
    border-radius: 50%;
}

body {
    background-color: #232323;
}

#title {
    background-color: #232323;
    min-height: 60vh;
    padding: 50px;
}

#header {
    background-color: #871222;
    font-size: 1.1rem;
}

#projects {

}

.btn {
    background-color: #871222;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: black;
    background-color: white;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 8vh; 
    background-color: #871222;
}